extends layout

block content

    .navbar.navbar-inverse.navbar-fixed-top
          .navbar-inner
            .container
              button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.brand(href='#') Visual Last.fm
              .nav-collapse.collapse
                ul.nav
                    li.active
                        a(href='/songs') Songs
                    li.active
                        a(href='/albums') Albums
                    li.active
                        a(href='/artists') Artists
                ul.nav.pull-right
                    li.active
                        a(href='/') Logout
              //-     li
              //-       a(href='#about') About

    h1.centered.larger= title
    div.centered
        //- a.btn.btn-danger.btn-large(href="http://localhost:3000/") Logout

    div.chart_body

    div.labels
        |<b> #{label} </b>

    div.artist

    script

        var dataset = {
            counts: [#{counts}],
            names: [#{names}],
            urls: [#{urls}]
        };

    script(src="/javascripts/artists.js")


